<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.tacticalnuclearstrike.tttumblr" android:versionCode="2"
	android:versionName="r1">
	<application android:icon="@drawable/tumblr48x48" android:label="@string/app_name" android:debuggable="true">
		<activity android:name=".MainActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="com.tacticalnuclearstrike.tttumblr.activites.PostTextActivity"></activity>
		<activity android:name="com.tacticalnuclearstrike.tttumblr.activites.PostQuoteActivity"></activity>
		<activity android:name="com.tacticalnuclearstrike.tttumblr.activites.PostLinkActivity"></activity>
		<activity android:name="com.tacticalnuclearstrike.tttumblr.activites.SettingsActivity"></activity>
		<activity android:name="com.tacticalnuclearstrike.tttumblr.activites.UploadImageActivity"
			android:screenOrientation="portrait"></activity>
		<activity android:name="com.tacticalnuclearstrike.tttumblr.activites.UploadVideoActivity"></activity>
	</application>
	<uses-sdk android:minSdkVersion="3" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>